@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

/* select all elements reset and common styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;

  --primaryThemeColor: #e6e9f0;
  --contrastThemeColor: #cbf6e7;
  --primaryAccentColor: #e05915;
  --primaryAccentColor50: #e059156c;
  --textColor: #431c5d;
  --lightBorderColor: #431c5d46;
  --contrastBackground: #e0e5fc;
  --neutralColor: #e2eff3;
}

/* html page layout*/

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* navbar layout*/

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primaryThemeColor);
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  color: var(--textColor);
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}

.main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-links {
  text-decoration: none;
}

.nav-links:visited {
  color: var(--textColor);
}

.nav-links:hover {
  color: var(--primaryAccentColor);
  cursor: pointer;
  opacity: 80%;
}

.main-nav li {
  margin: 5px auto;
  padding: 5px;
  height: fit-content;
  text-align: center;
  justify-self: center;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 5px;
  align-self: flex-start;
  justify-self: center;
  cursor: pointer;
}

.logo-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 1rem;
  margin-left: 10px;
  align-content: center;
  justify-content: center;
  height: fit-content;
}

.navbar-toggle {
  align-self: flex-start;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 1px;
  padding: 2px;
  border: 2px solid #00000000;
}

.navbar-toggle:hover {
  color: var(--primaryAccentColor);
  border-radius: 4px;
  cursor: pointer;
}

/* Toggle classes for showing and hiding elements*/

.hide {
  display: none;
}

.show {
  display: flex;
}

/* Identifies the active html page */

.active-page {
  text-decoration: underline;
  text-decoration-color: red;
}

/* standard main body css formating*/

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--neutralColor);
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    var(--primaryThemeColor),
    var(--primaryThemeColor) 30%,
    var(--contrastThemeColor) 30%
  );
  padding-bottom: 20px;
}

/* standard card styling*/

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  place-items: center;

  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
}

.card-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.card > img {
  width: 100%;
  height: 200px;
}

.tags {
  width: 100%;
  padding: 5px 15px;
}

.caption-text {
  width: 100%;
  text-align: start;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: var(--neutralColor);
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

.upvotes {
  width: 100%;
  text-align: end;
  padding: 5px 15px;
}

/* Standard details and comments of posts*/

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50vw;
  min-width: 300px;
  place-items: center;

  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
}

.card-detail > img {
  width: 100%;
  height: auto;
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments-container > p:first-child {
  font-weight: 600;
  line-height: 1.6;
  margin: 5px;
  padding: 5px;
}

.comments-container > p:nth-child(n + 2) {
  width: 100%;
  align-self: center;
  text-align: start;
  line-height: 1.6;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: var(--primaryThemeColor);
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

.comments-container > p:nth-child(even) {
  width: 100%;
  text-align: end;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: #ccd3f3;
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

/*footer content of web page*/

footer {
  display: flex;
  grid-row-start: 3;
  height: 2vh;
  min-height: 35px;
  place-items: center;
  justify-content: center;
  background: var(--primaryThemeColor);
  box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset,
    6px 6px 8px 0 rgba(0, 0, 0, 0.25) inset;
}

footer > p {
  width: fit-content;
  height: fit-content;
  color: var(--textColor);
}

/* standard button css*/
.button {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 4px 8px;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  font-weight: 600;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--primaryThemeColor);
  color: var(--textColor);
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:after {
  content: "";
  background: var(--primaryAccentColor50);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, 0.3), 12px 12px 16px rgba(255, 255, 255, 0.25) inset;
}

/* for screens greater than 480px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 480px) {
}

/* for screens greater than 700px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 700px) {
  .main-nav {
    font-size: 1.2rem;
  }
}

/* for screens greater than 768px wide - tablets, ipads, lanscape smartphones*/

@media screen and (min-width: 900px) {
  .main-nav {
    font-size: 1.4rem;
  }

  .logo {
    margin-top: 0;
    align-self: center;
    justify-self: center;
  }

  .logo-text {
    white-space: nowrap;
    font-size: 1.5rem;
    height: 48px;
  }

  .logo-img {
    width: 48px;
    height: 48px;
  }

  .navbar-toggle {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .media-links {
    flex-direction: row;
  }

  .game-tag-div > h3 {
    text-align: start;
  }

  .user-div {
    flex-direction: row;
    margin-left: -50px;
  }

  #js-profile-img {
    width: 300px;
    clip-path: circle(80px at center);
    margin-left: 10px;
  }

  .profile-detail {
    margin-left: -50px;
    margin-right: 5vw;
  }

  .media-div {
    margin-right: 5vw;
  }
  /* for screens greater than 1200px wide - laptops and desktops*/

  @media screen and (min-width: 1300px) {
    .main-nav {
      display: flex;
      flex-direction: row;
    }
    .main-wrapper {
      flex-direction: row;
      align-content: space-around;
    }

    .navbar-toggle {
      display: none;
    }
  }

  /* for screens greater than 1600px wide - desktops and large screens*/

  @media screen and (min-width: 1600px) {
  }
}
