/* standard card styling*/

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  place-items: center;

  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
}

.card-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.card > img {
  width: 100%;
  height: 200px;
}

.tags {
  width: 100%;
  padding: 5px 15px;
}

.caption-text {
  width: 100%;
  text-align: start;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: var(--neutralColor);
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

.upvotes {
  width: 100%;
  text-align: end;
  padding: 5px 15px;
}

/* Standard details and comments of posts*/

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50vw;
  min-width: 300px;
  place-items: center;

  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
}

.card-detail > img {
  width: 100%;
  height: auto;
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments-container > p:first-child {
  font-weight: 600;
  line-height: 1.6;
  margin: 5px;
  padding: 5px;
}

.comments-container > p:nth-child(n + 2) {
  width: 100%;
  align-self: center;
  text-align: start;
  line-height: 1.6;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: var(--primaryThemeColor);
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

.comments-container > p:nth-child(even) {
  width: 100%;
  text-align: end;
  border: 1px solid var(--lightBorderColor);
  margin: 5px;
  padding: 5px 15px;
  background-color: #ccd3f3;
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
}

#js-like-btn {
  color: var(--textColor);
  margin-left: 10px;
}

.post-comment-container {
  display: flex;
  display: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.input-textbar {
  width: 100%;
  height: auto;
  padding: 5px 15px;
  background-color: var(--primaryThemeColor);
  box-shadow: 0 2px 1px var(--lightBorderColor);
  border-radius: 5px;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
}

.post-comment-btn {
  align-self: center;
  margin: 5px 10px;
}

label {
  display: flex;
  width: 100%;
  font-weight: 600;
  line-height: 1.6;
  margin: 5px;
  padding: 5px;
}

/* Action Buttons*/

.action-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--textColor);
}

.action-button-container > span {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.action-button-container > span > p {
  padding: 5px 0px;
}

#js-banned-btn {
  color: red;
}

/* upload post styling */

.post-form {
  display: flex;
  flex-direction: column;
  width: 50vh;
  padding: 10px;
  place-items: flex-start;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
}

.upload-info-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.upload-back-btn {
  display: flex;
  flex-direction: column;
}

.post-form > div {
  width: 100%;
}

textarea {
  width: 100%;
  padding: 5px;
}

.post-input {
  margin-top: 10px;
}

.upload-info-div > h1 {
  font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
}

/* for screens greater than 480px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 480px) {
}

/* for screens greater than 700px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 900px) {
  /* for screens greater than 1200px wide - laptops and desktops*/

  @media screen and (min-width: 1300px) {
  }

  /* for screens greater than 1600px wide - desktops and large screens*/

  @media screen and (min-width: 1600px) {
  }
}
