.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 10px 5vw;
  justify-items: center;
}

.profile {
  display: flex;
  width: 100vw;
  height: 300px;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: center;
}

/* for screens greater than 480px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 480px) {
  .card-container {
    margin: 10px 10vw;
  }
}

/* for screens greater than 700px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 700px) {
}

/* for screens greater than 768px wide - tablets, ipads, lanscape smartphones*/

@media screen and (min-width: 900px) {
}
/* for screens greater than 1200px wide - laptops and desktops*/

@media screen and (min-width: 1300px) {
}

/* for screens greater than 1600px wide - desktops and large screens*/

@media screen and (min-width: 1600px) {
  #main-img {
    max-width: 900px;
    transition: all 1s;
  }
}
