/*Profile Banner styling*/

.profile {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  overflow: hidden;
  border-bottom: 1px solid var(--lightBorderColor);
  background-color: var(--contrastBackground);
  box-shadow: 0 4px 2px var(--lightBorderColor);
  color: var(--textColor);
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.media-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.profile-links > a {
  text-decoration: none;
  color: var(--textColor);
}

.media-div > ul > li > a:hover {
  text-decoration: none;
  color: var(--primaryAccentColor);
}

.media-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
}

.media-div > ul {
  justify-content: space-between;
}

.user-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px 10px;
  align-items: center;
  flex-grow: 2;
}

.post-btn {
  margin: 10px;
  padding-bottom: 0px;
}

.icon-span {
  margin-right: 10px;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#js-username {
  text-align: center;
  font-size: clamp(1.5rem, 0rem + 6.6667vw, 3.5rem);
}

#js-profile-img {
  display: none;
  width: 150px;
  clip-path: circle(40px at center);
}

.account-faq-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.account-faq-div > p {
  white-space: nowrap;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
  text-align: end;
  padding-right: 10px;
}

.account-faq-div > p:nth-child(n + 2) {
  margin-top: 10px;
}

.hide {
  display: none;
}
/* for screens greater than 480px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 480px) {
}

/* for screens greater than 700px wide - small mobile devices, portrait smart devices*/

@media screen and (min-width: 700px) {
}

/* for screens greater than 768px wide - tablets, ipads, lanscape smartphones*/

@media screen and (min-width: 900px) {
  .media-links {
    flex-direction: row;
    padding-top: 20px;
  }

  .user-div {
    flex-direction: row;
    margin-left: -50px;
  }

  #js-profile-img {
    display: flex;
    width: 300px;
    clip-path: circle(80px at center);
    margin-left: 10px;
  }

  .profile-detail {
    margin-left: -50px;
  }

  .media-div {
    margin-right: 5vw;
  }

  .account-faq-div {
    justify-content: space-around;
  }

  .account-faq-div > p:nth-child(n + 2) {
    margin-top: 0px;
  }
}
/* for screens greater than 1200px wide - laptops and desktops*/

@media screen and (min-width: 1300px) {
}
/* for screens greater than 1600px wide - desktops and large screens*/

@media screen and (min-width: 1600px) {
}
