/*Profile Banner styling*/

.profile {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  overflow: hidden;
  border-bottom: 1px solid var(--lightBorderColor);
  background-color: var(--contrastBackground);
  box-shadow: 0 4px 2px var(--lightBorderColor);
  color: var(--textColor);
  margin-bottom: 5px;
  width: 100%;
  height: fit-content;
}

.media-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 25%;
  margin-right: 10px;
}

.profile-links > a {
  text-decoration: none;
  color: var(--textColor);
}

.media-div > ul > li > a:hover {
  text-decoration: none;
  color: var(--primaryAccentColor);
}

.media-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
}

.user-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0px 10px;
  align-items: center;
  flex-grow: 2;
}

.profile-btn {
  margin: 5px;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
  cursor: pointer;
}

.icon-span {
  margin-right: 10px;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

#js-username {
  text-align: center;
  font-size: clamp(1.3rem, 0.86rem + 2.2vw, 3.5rem);
  overflow: hidden;
}

#js-profile-img {
  display: none;
  width: 200px;
  clip-path: circle(40px at center);
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.admin-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--textColor);
  padding: 5px;
  cursor: pointer;
}

.ban-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.block-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.icon-text {
  font-size: clamp(0.7rem, 0.6308rem + 0.3077vw, 1rem);
  color: var(--textColor);
  font-weight: 500;
}

.account-faq-div {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.follower-info {
  margin-left: 10px;
}

.follower-info > p {
  white-space: nowrap;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
  text-align: end;
  font-weight: 500;
}

.follower-info > p:nth-child(n + 2) {
  margin-top: 5px;
}

.hide {
  display: none;
}

/* for screens greater than 900px wide - tablets, ipads, lanscape smartphones*/

@media screen and (min-width: 900px) {
  .media-links {
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
  }
  .user-div {
    flex-direction: row;
    justify-content: center;
  }

  #js-profile-img {
    display: flex;
    width: 175px;
    clip-path: circle(50px at center);
  }

  .account-faq-div {
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 20px;
  }

  .follower-info > p {
    margin-left: 10px;
  }

  .profile-links {
    margin: 0px 10px;
  }
}
/* for screens greater than 1300px wide - laptops and desktops*/

@media screen and (min-width: 1300px) {
  .follower-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .follower-info > p:nth-child(n + 2) {
    margin-top: 0px;
  }

  #js-profile-img {
    width: 200px;
    clip-path: circle(80px at center);
  }
}
