.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  color: var(--textColor);
}

.search-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
}

.search-button-container {
  display: flex;
  flex-direction: row;
}

.search-btn {
  margin: 5px;
  font-size: clamp(1.2rem, 1.1308rem + 0.3077vw, 1.5rem);
  -self: center;
}

.searchbar {
  font-size: clamp(1.2rem, 1.1308rem + 0.3077vw, 1.5rem);
  padding: 5px;
}

.result-div {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.results-div {
  width: 100%;
}

.results-div > h3 {
  font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
  color: var(--textColor);
}

.results-div > h4 {
  font-size: clamp(1.2rem, 1.1308rem + 0.3077vw, 1.5rem);
  color: var(--textColor);
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.result-item {
  margin: 10px;
  padding: 10px;
  font-size: clamp(0.7rem, 0.5154rem + 0.8205vw, 1.5rem);
  font-weight: 500;
  color: var(--textColor);
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--contrastBackground);
  border: 1px solid var(--lightBorderColor);
}

/* for screens greater than 480px wide - small mobile devices, portrait smart devices*/
@media screen and (min-width: 480px) {
  .card-container {
    margin: 10px 10vw;
  }
  .search-div {
    flex-direction: row;
  }

  .searchbar {
    margin-left: 5px;
  }

  .search-button-container {
    margin-left: 5px;
  }
}
